/* формируем фон для модального окна */
.modal {
    display: none; /* скрыт по умолчанию */
    /* темный фон при открытии модалки должен быть на всю страницу */
    position: fixed; 
    z-index: 1; /* поверх всех элементов */
    left: 0;
    top: 0;
    width: 100vw; /* полная ширина */
    height: 100vh; /* полная высота */
    background-color: rgba(0,0,0,0.4); /* цвет фона - прозрачный черный */
  }
  
  /* само модальное окно с контентом */
  .modal-content {
    background-color: #fff;
    /* окно будет находится по центру по горизонтали и с отступом сверху в 100 px */
    margin: 100px auto; 
    padding: 20px;
    width: 50%; 
    font-size: 20px;
    /* разнесем текст и кнопоку по краям окна */
    display: flex;
    justify-content: space-between;
   }
  
  span {
    cursor: pointer;
  }

  #main_popur
  {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center"
  }

  
 #modal_cont
 {
  height: 300px;
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
 }
 
 #Close_btn
 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  cursor: pointer;	
  &:hover {color: #666;}
 }